<li id="qalist-<%= qalist.id %>">
  <%= link_to gravatar_for(qalist.user, size: 50), qalist.user %>
  <span class="user"><%= link_to qalist.user.name, qalist.user %></span>
  <span class="content"><%= qalist.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(qalist.created_at) %> ago.
    <% if current_user == qalist.user %>
      <%= link_to "delete", qalist, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>