            <tr>
              <td><%= @qalist.query0 %></td>
              <td><%= @qalist.line0 %></td>
              <td></td>
              <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">回答する</button>
                 
                 <%= form_for(@comment) do |f| %>
                  <%= render 'shared/error_messages', object: f.object %>
                   
                   <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                    
                    <div class="modal-dialog" role="document">
                     
                     <div class="modal-content">
                      
                      <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
                      </div>

                      <div class="modal-body">
                        <div class="form-group">
                          <label for="recipient-name" class="control-label">回答者</label>
                          <%= @user.name %>
                        </div>
          
                        <div class="form-group">
                         <label for="message-text" class="control-label">Message:</label>
                          <%= f.text_area :content, placeholder: "Compose new comment...", class: 'form-control', :size => "20x10" %>
                          <%= f.hidden_field :answer_id , :value => "@qalist.id" %>
                          <%= f.hidden_field :answer_td_id , :value => "@qalist.line0" %>
                        </div>
                    
                      </div>
                    
                      <div class="modal-footer">
                       <%= f.submit "Post", class: "btn btn-primary" %>
                      </div>
                   
                    </div>
                    
                  </div>
                  
               </div>
              <% end %>
            </td>
              
            <td>
              <% if @answered_comments.any? %>
               <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal0">Comments (<%= @answered_comments.count %>)</button>
                <div class="modal fade" id="myModal0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                 <div class="modal-dialog" role="document">
                  <div class="modal-content">
                   <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title" id="myModalLabel">コメント一覧</h4>
                   </div>
                    <div class="modal-body">
                     <ol class="comments">
                      <%= render partial: 'comments/comment', collection: @answered_comments %>
                     </ol>
                    </div>
                     <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                  </div>
                 </div>
               </div>
              <% end %>
            </td>
            </tr>