<%= form_for(@todolist, html:{class: 'form-horizontal'}) do |f| %>
<div class="row">
  <aside class="col-md-6">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <%= link_to "マイページへ戻る", @user %>
    </section>
  </aside>
  <div class="col-md-8">
      <h3><%= @todolist.title %></h3>
       <h4>作成者<%= link_to @todolist.user.name, @todolist.user %></h4>
        <table class="table table-striped table-bordered table-hover">
           
          <tbody>
          　<tr>
               <th>やること</th>
               <th>メモ</th>
               <th>状況</th>
            </tr>
            <tr>
              <td><%= @todolist.things %></td>
              <td><%= @todolist.note %></td>
              <td><%= render 'todolists/move', object: @todolist %></td>
            </tr>

            <% @todolist.listtables.each do |listtable| %>
            <tr>
                
               <td><%= listtable.things %></td>
               <td><%= listtable.note %></td>
               <td><%= render 'todolists/action', object: listtable %></td>
            </tr>
            <% end %>
           </tbody>
        </table>
        <% if current_user == @todolist.user %>
        <%= link_to "内容を変更する", edit_todolist_path %>
        <% end %>
   </div>
</div>
<% end %>